* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
  background-color: black;
  background-image: linear-gradient(to bottom, black, #1b262c);
}

/* Body */

.Workout {
  padding: 20px 0 100px;
  color: #efecec;
}

.input_page {
  width: 360px;
}

/* Title */

/* Middle */

.list {
  padding: 5% 15% 2%;
}

#no_neg_margin {
  margin: 0;
}

.exercise {
  padding: 2% 10%;
}

.scroll {
  overflow-y: scroll;
  height: 100%;
  /* Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
  display: none;
}

/* Bottom */

.full_width {
  width: 100%;
}

.half_width {
  width: 45%;
}

.full_height {
  height: 100%;
}

#detail {
  width: 30%;
}


